/*---------------------Index-----------------------*/
.container-fluid {
  background-color: #d6af7f; }

.navbar {
  padding: 0;
  margin: 0; }

#offcanvasNavbar {
  background-color: #d6af7f; }

.form-control {
  background-color: bisque; }

.dropdown-menu {
  background-color: bisque; }

/*---------------------Productos-----------------------*/
.modal-content {
  background-color: #d6af7f; }

.modal-footer button {
  color: black;
  border: 1px solid black; }

.modal-footer .btn {
  background-color: bisque; }

body {
  background-color: bisque; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header header header header" "main main main main main" "footer footer footer footer footer";
  height: 100vh; }

header {
  grid-area: header; }
  header a {
    max-width: 40%; }
  header #logo {
    width: 100%; }

.principal {
  grid-area: main;
  background-color: bisque;
  margin-top: 10px;
  margin-bottom: 30px; }
  .principal__organizacion--fotos {
    margin: 10px auto 0px auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px; }
    .principal__organizacion--fotos .texto {
      display: flex;
      height: 200px;
      width: auto;
      margin: 10px 20px 10px 20px;
      align-items: center;
      text-align: center; }
    .principal__organizacion--fotos .imagen {
      position: relative;
      text-align: center; }
      .principal__organizacion--fotos .imagen img {
        height: 300px;
        width: auto; }
      .principal__organizacion--fotos .imagen .texto_imagen {
        background-color: rgba(255, 255, 255, 0.4);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
  .principal__organizacion--Whatsapp #wppLogo {
    width: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px; }
  .principal__organizacion--Whatsapp #wppLogo:hover {
    animation-duration: 1s;
    animation-name: zoomear; }

footer {
  grid-area: footer;
  background-color: #d6af7f;
  display: flex;
  flex-direction: row; }
  footer .footer {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 10px 0 0 5px;
    padding: 5px; }
    footer .footer a {
      color: black;
      text-decoration: none; }
    footer .footer__localizacion {
      display: flex;
      flex-direction: row; }
      footer .footer__localizacion--geo {
        width: 15px;
        height: 25px; }
    footer .footer__instagram {
      display: flex;
      flex-direction: row; }
      footer .footer__instagram--ig {
        width: 20px;
        height: 20px; }
    footer .footer__facebook {
      display: flex;
      flex-direction: row; }
      footer .footer__facebook--fb {
        width: 25px;
        height: 25px; }
  footer .pie {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    footer .pie__logo {
      height: 25px; }

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-rows: auto auto auto; }
  header #logo {
    max-width: 292px; }
  .principal__organizacion--fotos {
    max-width: 700px; }
    .principal__organizacion--fotos .texto {
      font-size: larger; }
    .principal__organizacion--fotos .imagen img {
      height: 500px; } }

@media only screen and (min-width: 1100px) {
  .d-flex .form-control, .d-flex .btn {
    display: none; }
  .principal__organizacion--fotos .texto {
    font-size: larger;
    height: 200px; }
    .principal__organizacion--fotos .texto p {
      background-color: rgba(214, 175, 127, 0.6); }
  .principal__organizacion--fotos .imagen {
    font-size: larger; }
    .principal__organizacion--fotos .imagen img {
      height: 700px; } }

@keyframes zoomear {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }

.tienda {
  display: flex;
  flex-direction: row;
  width: 95%;
  border: 1px solid black;
  margin: auto; }
  .tienda p {
    font-size: 15px; }
  .tienda img {
    width: 180px;
    border-radius: 20px; }
  .tienda__aside {
    width: 25%;
    display: flex;
    background-color: burlywood;
    flex-direction: column; }
    .tienda__aside--filtros {
      height: 5%;
      background-color: #ecbf83; }
    .tienda__aside--titulo {
      height: auto;
      width: 100%;
      background-color: #ecbf83;
      display: flex;
      justify-content: center;
      font-size: 25px; }
    .tienda__aside--categorias {
      height: auto;
      width: 100%;
      background-color: burlywood;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-size: 20px; }
    .tienda__aside--categorias p:hover {
      background-color: #dfa65c; }
    .tienda__aside a {
      color: black;
      text-decoration: none; }
  .tienda__productos {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #ecbf83; }
    .tienda__productos--muestra {
      background-color: #ddc4a3;
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0; }
      .tienda__productos--muestra img {
        border: 1px solid black;
        background-color: burlywood; }
      .tienda__productos--muestra img:hover {
        animation-duration: 1s;
        animation-name: zoomear; }
    .tienda__productos--filas {
      margin: 10%; }

@media only screen and (max-width: 768px) {
  .tienda__aside {
    width: 40%; } }

@media only screen and (min-width: 768px) {
  .tienda img {
    width: 300px; }
  .tienda p {
    font-size: larger; } }

.SeccionPrincipal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .SeccionPrincipal__arquitectura, .SeccionPrincipal__interiorismo {
    position: relative;
    text-align: center; }
    .SeccionPrincipal__arquitectura p, .SeccionPrincipal__interiorismo p {
      background-color: rgba(255, 255, 255, 0.6);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%; }
    .SeccionPrincipal__arquitectura h1, .SeccionPrincipal__interiorismo h1 {
      position: absolute;
      top: 2%;
      right: 2%; }
  .SeccionPrincipal__nosotros {
    border: 1px solid #d39243;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    background-color: rgba(214, 175, 127, 0.6);
    font-weight: 600; }
  .SeccionPrincipal__categorias {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .SeccionPrincipal__categorias img {
      border-radius: 10px;
      width: 350px;
      height: auto;
      margin: 10px auto 20px auto; }

.contacto {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }
  .contacto__tipo {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .contacto__tipo--arquitectura, .contacto__tipo--interiorismo {
      width: 300px;
      height: auto;
      border: 1px solid black;
      position: relative;
      text-align: center;
      margin: 20px;
      border-radius: 10px; }
      .contacto__tipo--arquitectura img, .contacto__tipo--interiorismo img {
        height: 100%;
        width: 100%;
        border-radius: 10px; }
      .contacto__tipo--arquitectura h1, .contacto__tipo--interiorismo h1 {
        position: absolute;
        bottom: 2%;
        right: 2%;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 25px; }
    .contacto__tipo--interiorismo :hover, .contacto__tipo--arquitectura :hover {
      animation-duration: 1s;
      animation-name: zoomear; }
  .contacto__formulario {
    width: 80%;
    height: fit-content;
    margin: 20px auto;
    padding: 10px;
    text-align: center; }
    .contacto__formulario--form {
      font-weight: 600;
      display: inline-block;
      background-color: #ddc4a3;
      border-radius: 10px; }
      .contacto__formulario--form .partes {
        margin: 5px; }

@media only screen and (min-width: 768px) {
  .contacto__formulario--form {
    width: 80%; } }

@media only screen and (min-width: 1100px) {
  .contacto__tipo--arquitectura, .contacto__tipo--interiorismo {
    width: 450px; } }
