@import "variables";


body {
    background-color: bisque;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px auto auto;
    grid-template-areas: "header header header header header"
                        "main main main main main"
                        "footer footer footer footer footer";
    height: 100vh;
}

header {
    grid-area: header;

    #logo {
        max-width: 30%;
    }
}

.principal {
    grid-area: main;
    background-color: bisque;
    margin-top: 10px;
    margin-bottom: 30px;
    &__organizacion--fotos {
        margin: 10px auto 0px auto;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 400px;
        .texto {
            display: flex;
            height: 200px;
            width: auto;
            margin: 10px 20px 10px 20px;
            align-items: center;
            text-align: center;
        }
        .imagen {
            position: relative;
            text-align: center;
            img {
                height: 300px;
                width: auto;
            }
            .texto_imagen {
                background-color: rgba(255, 255, 255, 0.4);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
    }
    &__organizacion--Whatsapp {

        #wppLogo {
            width: 40px;
            position: fixed;
            bottom: 30px;
            right: 30px;
        }
        #wppLogo:hover {
            animation-duration: 1s;
            animation-name: zoomear;
        }
    }
}

footer {
    grid-area: footer;
    background-color: rgb(214, 175, 127);
    display: flex;
    flex-direction: row;
    .footer {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        margin: 10px 0 0 5px;
        padding: 5px;
        a {
            color: black;
            text-decoration: none;
        }
        &__localizacion {
            display: flex;
            flex-direction: row;
            &--geo{
                width: 15px;
                height: 25px;
            }
         }
        &__instagram {
            display: flex;
            flex-direction: row;
            &--ig {
                width: 20px;
                height: 20px;
            }
         }
        &__facebook {
            display: flex;
            flex-direction: row;
            &--fb {
                width: 25px;
                height: 25px;
            }
         }
    }

    .pie {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &__logo {
            height: 25px;
     }
    }
}

@media only screen and (min-width: 768px) { 

    .grid {
        grid-template-rows: auto auto auto;
    }

    .principal__organizacion--fotos {
        max-width: 700px;
        .texto {
            font-size: larger;
        }
        .imagen {
            img {
                height: 500px;
            }  
        }
        
        
    }
}

@media only screen and (min-width: 1100px) {

    .d-flex {
        .form-control, .btn{
            display: none;
        }
        
    }
    
    .principal__organizacion--fotos {
        
        .texto {
            font-size: larger;
            height: 200px;
            
            p {
                background-color: rgba(214, 175, 127, 0.6);
            }
            
        }
        .imagen {
            font-size: larger;
            img {
                height: 700px;
            }  
        }
    }
}
@keyframes zoomear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    } 
}